[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
werkzeug = "*"
pandas = "*"
flask-navigation = "*"

[dev-packages]

[requires]
python_version = "3.11"
