<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>
        <a href="">Home</a>
        <a href="">Authors</a>
        <a href="">Books</a>
    </nav>
    <h1>
        {% block heading %}{% endblock heading %}
    </h1>
    <article>
        {% block content %}{% endblock content %}
    </article>
</body>
</html>