{% extends 'base.html' %}

{% block title %}
    MyBooks | {{ book.title }}
{% endblock title %}
{% block heading %}
    {{ book.title }}
{% endblock heading %}
{% block content %}
    <div class="book-card shadow mx-auto p-4" style="width: 20rem;">
        <img src="{{ book['img'] }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">{{ book['title'] }}</h3>
          <a href="{{url_for('authors_index')}}"><h4 class="card-author">{{ book['author'] }}</h4></a>
          <p class="card-text">Genre: {{ book['genre'] }}</p>
          <p class="card-text">{{ book['type'] }}, {{ book['status'] }}</p>
          <a href="{{url_for('book_edit', book_id=book['id'])}}" class="btn btn-primary mx-auto">Edit</a>
          <a href="" class="btn btn-danger mx-auto">Delete</a>
        </div>
      </div>
{% endblock content %}