{% extends 'base.html' %}

{% block title %}
    MyBooks | Home
{% endblock title %}
{% block heading %}
    Welcome to MyBooks
{% endblock heading %}
{% block content %}
    <p>MyBooks is a practice App created on flask with the 7 RESTful routes.
        <br>
        It shows a list of books and authors that I own with some information about them. You can add new authors and books, as well as update and delete existing ones.
        <br>
        It is created using Flask, with pipenv as the environment and Jinga2 to render the frontend.
    </p>
{% endblock content %}